<!-- post-list.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Bài Viết</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<%- include('../components/writer-header.ejs') %>

    <body class="bg-gray-100">
        <div class="container mx-auto p-4">
            <h1 class="text-4xl font-bold mb-6 text-center">Danh Sách Bài Viết</h1>

            <!-- Đã được duyệt -->
            <div class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">Published</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% approvedPosts.forEach(post=> { %>
                        <div class="bg-white shadow-md rounded-lg p-4">
                            <img src="<%= post.imageUrl %>" alt="<%= post.title %>"
                                class="rounded-t-lg w-full h-48 object-cover mb-4">
                            <a href="/posts/<%= post.id %>" class="text-blue-600 hover:underline">
                                <h3 class="text-xl font-semibold">
                                    <%= post.title %>
                                </h3>
                            </a>
                            <p class="text-gray-600">
                                <%= post.summary %>
                            </p>
                            <span class="text-green-600">PPublished</span>
                        </div>
                        <% }); %>
                </div>
            </div>

            <!-- approved -->
            <div class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">Approved</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% pendingPosts.forEach(post=> { %>
                        <div class="bg-white shadow-md rounded-lg p-4">
                            <img src="<%= post.imageUrl %>" alt="<%= post.title %>"
                                class="rounded-t-lg w-full h-48 object-cover mb-4">
                            <a href="/posts/<%= post.id %>" class="text-blue-600 hover:underline">
                                <h3 class="text-xl font-semibold">
                                    <%= post.title %>
                                </h3>
                            </a>
                            <p class="text-gray-600">
                                <%= post.summary %>
                            </p>
                            <span class="text-yellow-600">Approved</span>
                        </div>
                        <% }); %>
                </div>
            </div>

            <!-- Bị từ chối -->
            <div class="mb-8">
                <h2 class="text-2xl font-semibold mb-2">Denied</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% rejectedPosts.forEach(post=> { %>
                        <div class="bg-white shadow-md rounded-lg p-4">
                            <img src="<%= post.imageUrl %>" alt="<%= post.title %>"
                                class="rounded-t-lg w-full h-48 object-cover mb-4">
                            <a href="/posts/<%= post.id %>" class="text-blue-600 hover:underline">
                                <h3 class="text-xl font-semibold">
                                    <%= post.title %>
                                </h3>
                            </a>
                            <p class="text-gray-600">
                                <%= post.summary %>
                            </p>
                            <p class="text-red-600">Denied</p>
                            <!-- Nút Hiệu chỉnh -->
                            <a href="/edit-post/<%= post.id %>"
                                class="mt-4 inline-block text-sm text-white bg-gray-700 px-4 py-2 rounded hover:bg-gray-800">
                               Edit
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>

            <!-- Chưa được duyệt -->
            <div>
                <h2 class="text-2xl font-semibold mb-2">Draft</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% unapprovedPosts.forEach(post=> { %>
                        <div class="bg-white shadow-md rounded-lg p-4">
                            <img src="<%= post.imageUrl %>" alt="<%= post.title %>"
                                class="rounded-t-lg w-full h-48 object-cover mb-4">
                            <a href="/posts/<%= post.id %>" class="text-blue-600 hover:underline">
                                <h3 class="text-xl font-semibold">
                                    <%= post.title %>
                                </h3>
                            </a>
                            <p class="text-gray-600">
                                <%= post.summary %>
                            </p>
                            <p class="text-gray-500">Draft</p>
                            <!-- Nút Hiệu chỉnh -->
                            <a href="/edit-post/<%= post.id %>"
                                class="mt-4 inline-block text-sm text-white  bg-gray-700 px-4 py-2 rounded hover:bg-gray-800">
                                Edit
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
    </body>

</html>