<style>
  .type-draft {
    color: green;
  }
  .type-undraft {
    color: red;
  }
</style>
<body>
  <%- include('layouts/admin-navbar') %>
  <div class="col py-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% articles.forEach(article => { %>
      <div class="col">
        <div class="card h-100">
          <div class="d-flex justify-content-between card-header">
            <p
              class="<%= article.type === 'draft' ? 'type-draft' : 'type-undraft' %>"
            >
              Type: <%= article.type === 'draft' ? 'Draft' : 'Undraft' %>
            </p>
            <button
              type="button"
              class="<%= article.type === 'draft' ? 'btn btn-danger' : 'btn btn-success' %>"
            >
              <%= article.type === 'draft' ? 'Undraft' : 'Draft' %>
            </button>
          </div>
          <img src="<%=article.img %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%=article.title %></h5>
            <p class="card-text"><%=article.subTitle %></p>
            <a href="#" class="btn btn-primary">See the article</a>
          </div>
          <div class="d-flex justify-content-between card-footer">
            <small class="text-body-secondary"
              >Post date: <%=article.datePublish %></small
            >
            <small class="text-body-secondary"
              >Post by: <%=article.author %></small
            >
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</body>
