<%- include('layouts/navbar-admin') %>
    <div class="col py-3">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Assigned Category</th>
                                        <th scope="col">Pen Name</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                
                                <tbody>
                                    <% if (writers.length > 0) { %>
                                        <% writers.forEach((writer,index) => { %>
                                            <tr>
                                                <th scope="row"><%= index + 1 %></th>
                                                <td><%= writer._id %></td>
                                                <td><%= writer.fullName %></td>
                                                <td><%= writer.email %></td>
                                                <td><%= writer.category %></td>
                                                <td><%= writer.penName %></td>
                                                <td>
                                            <!-- Call to action buttons -->
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <button class="btn btn-success btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="bi bi-pencil-fill"></i></button>
                                                </li>
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i></i></button>
                                                </li>
                                            </ul>
                                            <% }); %>
                                        <% }; %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>