<div class="mx-auto flex w-full max-w-screen-lg flex-col gap-4">
  <%- include('../components/error-dialog.ejs') %> <%-
  include('../components/processing-dialog.ejs') %>

  <a href="/admin" class="my-4 text-blue-500 underline">Back</a>

  <h1 class="text-2xl font-semibold">Manage Tags</h1>

  <script defer>
    async function postTag() {
      const val = document.getElementById("add-tag-field").value;
      if (!val) {
        openErrorDialog("Tag name can't be empty!");
        return;
      }

      openProcessingDialog();
      const res = await fetch("/admin/tags", {
        method: "POST",
        body: JSON.stringify({ tag: val }),
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
      });
      closeProcessingDialog();

      switch (res.status) {
        case 409:
          openErrorDialog("Tag name is already taken!");
          return;
        case 201:
          window.location.reload();
          break;
      }
    }

    async function deleteTag(tagId) {
      openProcessingDialog();
      const res = await fetch("/admin/tags", {
        method: "DELETE",
        body: JSON.stringify({ tag: tagId }),
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
      });
      closeProcessingDialog();

      switch (res.status) {
        case 200:
          window.location.reload();
          return;
        case 404:
          openErrorDialog("That tag doesn't exist");
      }
    }

    let editingId, editingName;

    async function editTag() {
      closeEditDialog();
      openProcessingDialog();
      const res = await fetch("/admin/tags", {
        method: "PUT",
        body: JSON.stringify({
          id: editingId,
          tag: document.getElementById("edit-field").value,
        }),
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
      });
      closeProcessingDialog();

      switch (res.status) {
        case 200:
          window.location.reload();
          break;
        case 409:
          openErrorDialog("That tag name is already taken");
          break;
      }
    }

    function openEditDialog(tagId, tagName) {
      editingId = tagId;
      editingName = tagName;
      document
        .getElementById("edit-dialog")
        .classList.replace("hidden", "flex");
      document.getElementById("edit-field").value = editingName;
    }

    function closeEditDialog() {
      document
        .getElementById("edit-dialog")
        .classList.replace("flex", "hidden");
    }
  </script>

  <div
    class="fixed inset-0 hidden size-full items-center justify-center bg-black/50 p-6"
    id="edit-dialog"
  >
    <dialog
      class="flex w-full max-w-screen-sm flex-col gap-4 rounded-xl bg-white p-6 shadow-lg"
    >
      <h2 class="text-lg font-semibold">Edit Tag</h2>

      <label class="flex flex-col gap-2">
        <span class="text-sm font-semibold">Tag</span>
        <input
          type="text"
          id="edit-field"
          class="flex h-12 w-full items-center rounded border-[1px] border-black px-4"
          required
        />
      </label>

      <div class="flex items-center justify-center gap-2">
        <button
          onclick="closeEditDialog()"
          class="rounded bg-red-700 px-4 py-2 text-white"
        >
          Nevermind
        </button>
        <button
          onclick="editTag()"
          class="rounded bg-sky-700 px-4 py-2 text-white"
        >
          Confirm
        </button>
      </div>
    </dialog>
  </div>

  <div class="flex flex-row flex-wrap gap-2 bg-zinc-100 p-6">
    <% adminTags.forEach(tag => { %>
    <div
      class="flex flex-row items-center justify-between gap-2 rounded-full bg-sky-400 px-4 py-2 font-semibold"
    >
      <span><%= tag.tag %></span>

      <div class="flex flex-row items-center gap-1">
        <button
          aria-label="Edit tag <%= tag.tag %>"
          onclick="openEditDialog('<%= tag._id %>', '<%= tag.tag %>')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            class="size-3"
          >
            <path
              d="M206.22-206.78h57.56l352.57-352.57-56.44-57-353.69 353.7v55.87Zm-52.44 106q-22.08 0-37.54-15.46t-15.46-37.54v-109.44q0-21.08 7.98-40.39 7.98-19.3 22.94-34.26l495.95-495.52q13.13-12.7 29.33-19.26 16.19-6.57 33.89-6.57 17.13 0 33.83 6.57 16.69 6.56 29.95 19.69l79.31 78.61q13.13 12.7 19.48 29.68 6.34 16.97 6.34 34.24 0 17.69-6.34 34.17-6.35 16.48-19.48 29.61L339-131.7q-14.96 14.96-34.26 22.94-19.3 7.98-40.39 7.98H153.78Zm593.78-589.65L691-747.56l56.56 57.13ZM587.91-587.91l-28-28.44 56.44 57-28.44-28.56Z"
            />
          </svg>
        </button>

        <button
          aria-label="Delete tag <%= tag.tag %>"
          onclick="deleteTag('<%= tag._id %>')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            class="size-3"
          >
            <path
              d="M480-405.91 293.04-218.96Q278.09-204 256-204t-37.04-14.96Q204-233.91 204-256t14.96-37.04L405.91-480 218.96-666.96Q204-681.91 204-704t14.96-37.04Q233.91-756 256-756t37.04 14.96L480-554.09l186.96-186.95Q681.91-756 704-756t37.04 14.96Q756-726.09 756-704t-14.96 37.04L554.09-480l186.95 186.96Q756-278.09 756-256t-14.96 37.04Q726.09-204 704-204t-37.04-14.96L480-405.91Z"
            />
          </svg>
        </button>
      </div>
    </div>
    <% }) %>
  </div>

  <!-- Insert Form -->
  <div class="mb-4">
    <div class="flex flex-wrap items-center gap-2">
      <input
        type="text"
        name="tag"
        class="flex-1 border p-2"
        placeholder="Enter new tag"
        required
        id="add-tag-field"
      />
      <button
        onclick="postTag()"
        class="rounded bg-green-700 px-4 py-2 text-white"
      >
        Add
      </button>
    </div>
  </div>
</div>
