<main
  class="container mx-auto w-2/3 px-4 py-8 sm:w-2/3 md:w-2/3 lg:w-2/3 xl:w-2/3"
>
  <!-- Category -->
  <nav aria-label="Breadcrumb" class="ml-6 flex font-bold text-blue-500">
    <% if (post.category.parent) { %>
    <ol class="flex space-x-2">
      <li>
        <a
          href="/category/<%= parentCategorySlug %>"
          class="text-blue-600 hover:text-blue-800"
        >
          <%= post.category.parent.name %>
        </a>
      </li>
      <li>
        <span class="mx-2">&nbsp;&gt; </span>
        <a
          href="/category/<%= categorySlug %>"
          class="text-blue-600 hover:text-blue-800"
        >
          <%= post.category.name %>
        </a>
      </li>
    </ol>
    <% } else { %>
    <a
      href="/category/<%= post.category.slug %>"
      class="text-blue-600 hover:text-blue-800"
    >
      <%= post.category.name %>
    </a>
    <% } %>
  </nav>

  <!-- Article Content -->
  <article class="rounded-lg bg-white p-6 shadow-md" id="article-content">
    <!-- Article Title -->
    <h1 class="mb-4 text-3xl font-bold"><%= post.name %></h1>

    <p class="my-2 text-sm">
      <%= post.views + 1 %> view<%= post.views + 1 == 1 ? "" : "s" %>
    </p>

    <!-- Author Information and Publish Date -->
    <div class="mb-6 flex items-center text-gray-600">
      <img
        src="https://placehold.co/40x40/EEE/31343C"
        alt="Author's Avatar"
        class="mr-3 h-10 w-10 rounded-full"
      />
      <div>
        <p class="text-sm font-medium">
          <%= post.writer.penName || post.writer.fullName %>
        </p>
        <p class="text-xs">
          Published Date: <%= post.publishedDate.toLocaleString("vi-VN") %>
        </p>
      </div>
    </div>

    <!-- Main Image -->
    <img
      src="<%= post.thumbnail.large %>"
      alt="Article Image"
      class="mx-auto mb-6 w-3/4 rounded object-cover sm:w-3/4 md:w-3/4 lg:w-3/4 xl:w-3/4"
    />

    <!-- Article Body -->
    <div class="prose prose-lg text-gray-800"><%- post.content %></div>

    <!-- Tags Section -->
    <div class="mt-6">
      <div class="flex flex-wrap items-center gap-3">
        <h3 class="text-xl font-semibold">Tags:</h3>
        <% post.tags.forEach(tag=> { %>
        <a
          href="/tag/<%= tag.tag %>"
          class="rounded-full px-3 py-1 text-sm text-blue-800 transition-colors duration-300 hover:text-blue-600"
        >
          #<%= tag.tag %>
        </a>
        <% }) %>
      </div>
    </div>
  </article>

  <!-- Download Button for Premium Content -->
  <% if (post.premium) { %>
  <div class="mt-6">
    <button
      onclick="downloadPDF()"
      class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"
    >
      Download as PDF
    </button>
  </div>
  <% } %>

  <!-- Comments -->
  <section class="mt-12 flex flex-col gap-8">
    <h2 class="mb-6 text-2xl font-bold">Comments</h2>
    <% if (comments.length===0) { %>
    <p class="text-center text-lg">There are no comments on this post.</p>
    <% } else { comments.forEach(comment=> { %>
    <div
      class="flex w-full flex-row items-center justify-between px-6 py-4 shadow-lg"
    >
      <div class="flex flex-row items-center gap-4">
        <img
          src="https://ui-avatars.com/api/?name=<%= comment.user.fullName %>&background=random"
          class="size-8 rounded-full"
        />

        <div class="flex flex-col gap-2">
          <p>
            <span class="font-bold"><%= comment.user.fullName %></span> (<span
              class="font-normal italic"
              ><%= comment.user.email %></span
            >)
          </p>
          <p><%= comment.content %></p>
        </div>
      </div>

      <div class="text-sm">
        <%= comment.postedDate.toLocaleString("vi-VN") %>
      </div>
    </div>
    <% }) %> <% } %>

    <!-- Write a Comment Form -->
    <% if (userInfo) { %>
    <h3 class="my-4 text-xl font-semibold">Write a comment</h3>
    <form class="comment-form" action="/post/<%= post.slug %>" method="POST">
      <textarea
        class="w-full rounded border border-gray-300 p-2"
        placeholder="Enter your comment..."
        rows="4"
        name="content"
      ></textarea>
      <button
        type="submit"
        class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
      >
        Post Comment
      </button>
    </form>
    <% } else { %>
    <p class="my-4 text-center">Log in to comment</p>
    <% } %>
  </section>

  <!-- Related Articles -->
  <section class="mt-12">
    <h2 class="mb-6 text-2xl font-bold">Related Articles</h2>
    <% if (related && related.length> 0) { %>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <% related.forEach(article=> { %>
      <a href="/post/<%= article._id %>" class="block">
        <article
          class="rounded bg-white p-4 shadow-md transition-shadow duration-300 hover:shadow-lg"
        >
          <img
            src="<%= article.thumbnail.small %>"
            alt="<%= article.name %>"
            class="mb-4 h-32 w-full rounded object-cover"
          />
          <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
          <p class="text-sm text-gray-600">
            Published Date: <%= article.publishedDate.toLocaleString("vi-VN") %>
          </p>
        </article>
      </a>
      <% })} else { %>
      <p class="text-center text-lg">No related articles</p>
      <% } %>
    </div>
  </section>
</main>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf-html2canvas@latest/dist/jspdf-html2canvas.min.js"></script>

<script defer>
  async function downloadPDF() {
    html2PDF(document.getElementById("article-content"), {
      html2canvas: {
        useCORS: true,
      },
      jsPDF: {
        format: "letter",
      },
      autoResize: true,
      imageType: "image/jpeg",
      imageQuality: 1,
      margin: {
        top: 32,
        right: 16,
        bottom: 32,
        left: 16,
      },
      output: "article-<%= post.slug %>.pdf",
    });
  }
</script>
