<main class="my-8 flex w-full flex-col items-center gap-8 p-6">
  <a
    href="/posts"
    class="w-full max-w-screen-md text-left text-blue-500 underline"
    >Back to All Posts</a
  >

  <h1 class="text-center text-2xl font-bold">Editing Post</h1>

  <% if (post.state == "approved" || post.state == "published") { %>
  <div
    class="flex w-full max-w-screen-md flex-col justify-center gap-2 border-[1px] border-red-600 bg-red-200 px-4 py-2"
  >
    <h2 class="font-semibold text-red-600">Hey!</h2>

    <p class="text-balance">
      This post is already <strong>published</strong> or
      <strong>approved</strong>. You won't be able to save any changes!
    </p>
  </div>
  <% } %>

  <form
    action="/edit/<%= post._id %>"
    method="POST"
    class="flex w-full max-w-screen-md flex-col gap-6"
  >
    <label class="flex w-full flex-col gap-2">
      Post ID
      <input
        type="text"
        value="<%= post._id %>"
        name="post_id"
        readonly
        class="flex h-12 items-center rounded-md border-[1px] border-black px-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      />
    </label>

    <label class="flex w-full flex-col gap-2">
      Title
      <input
        type="text"
        name="title"
        required
        value="<%= post.name %>"
        class="flex h-12 items-center rounded-md border-[1px] border-black px-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      />
    </label>

    <label class="flex w-full flex-col gap-2">
      Thumbnail (Large version)

      <div class="group relative size-fit">
        <div class="absolute inset-0 size-full group-hover:bg-black/20"></div>

        <img
          src="<%= post.thumbnail.large %>"
          alt="Image of <%= post.name %>"
          class="h-96 w-full object-contain"
        />
      </div>

      <input
        type="file"
        name="thumbnail-large"
        class="flex h-12 items-center rounded-md border-black px-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      />
    </label>

    <label class="flex w-full flex-col gap-2">
      Thumbnail (small version)

      <div class="group relative size-fit">
        <div class="absolute inset-0 size-full group-hover:bg-black/20"></div>

        <img
          src="<%= post.thumbnail.small %>"
          alt="Image of <%= post.name %>"
          class="h-48 w-full object-contain"
        />
      </div>

      <input
        type="file"
        name="thumbnail-small"
        class="flex h-12 items-center rounded-md border-black px-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      />
    </label>

    <label class="flex w-full flex-col gap-2">
      Abstract
      <textarea
        name="abstract"
        required
        rows="3"
        class="flex resize-none items-center rounded-md border-[1px] border-black p-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      >
<%= post.abstract %> <%# There will be some space if you don't put at the beginning. %>
        </textarea
      >
    </label>

    <fieldset class="grid-cols 2 grid grid-cols-2 gap-4 py-2">
      <legend>Post Type</legend>

      <label
        class="flex h-12 flex-row items-center gap-2 rounded-md border-[1px] border-black p-4 duration-200 hover:bg-sky-300 has-[:checked]:bg-sky-200"
      >
        <% if (post.premium) { %>
        <input
          type="radio"
          name="postType"
          value="premium"
          class="m-0 size-4 appearance-none rounded-full border-[1px] border-sky-800 p-0 checked:bg-sky-600"
          checked
        />
        <% } else { %>
        <input
          type="radio"
          name="postType"
          value="premium"
          class="m-0 size-4 appearance-none rounded-full border-[1px] border-sky-800 p-0 checked:bg-sky-600"
        />
        <% } %> Premium
      </label>
      <label
        class="flex h-12 flex-row items-center gap-2 rounded-md border-[1px] border-black p-4 duration-200 hover:bg-sky-300 has-[:checked]:bg-sky-200"
      >
        <% if (post.premium) { %>
        <input
          type="radio"
          name="postType"
          value="standard"
          class="m-0 size-4 appearance-none rounded-full border-[1px] border-sky-800 p-0 checked:bg-sky-600"
        />
        <% } else { %>
        <input
          type="radio"
          name="postType"
          value="standard"
          class="m-0 size-4 appearance-none rounded-full border-[1px] border-sky-800 p-0 checked:bg-sky-600"
          checked
        />
        <% } %> Standard
      </label>
    </fieldset>

    <label class="flex w-full flex-col gap-2">
      Content

      <textarea
        id="content"
        name="content"
        required
        class="flex resize-none items-center rounded-md border-[1px] border-black p-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      >
<%= post.content %> <%# There will be some space if you don't put at the beginning. %>
        </textarea
      >
    </label>

    <label class="flex w-full flex-col gap-2">
      Category

      <select
        name="category"
        class="flex h-12 appearance-none items-center rounded-md border-[1px] border-black px-4 hover:bg-zinc-200"
      >
        <% postCategories.forEach(category => { %> <% if (category._id ==
        post.category._id) { %>
        <option value="<%= category._id %>" selected>
          <%= category.parent %> / <%= category.name %>
        </option>
        <% } else { %>
        <option value="<%= category._id %>">
          <%= category.parent %> / <%= category.name %>
        </option>
        <% } %> <% }) %>
      </select>
    </label>

    <label class="flex w-full flex-col gap-2">
      Tags

      <input
        type="text"
        name="tags"
        required
        value="<%= post.tags.map(tag => tag.tag).join(', ') %>"
        class="flex h-12 items-center rounded-md border-[1px] border-black px-4 disabled:cursor-not-allowed disabled:bg-zinc-200"
      />
    </label>

    <button
      type="submit"
      class="flex h-12 w-fit items-center justify-center self-end rounded-md bg-sky-600 px-4 font-semibold text-white"
    >
      Apply Changes
    </button>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      tinymce.init({
        selector: "#content", // Chọn textarea để sử dụng TinyMCE
        plugins: "image media link",
        toolbar: "undo redo | styles | bold italic | link image | media",
        images_upload_url: "/upload/image", // URL để upload hình ảnh
        media_url_restrict: false,
        setup: function (editor) {
          editor.on("change", function () {
            editor.save();
          });
        },
      });
    });
  </script>
</main>
