<!-- Separator Line -->
<div class="mx-4 border border-blue-500"></div>
<div class="container mx-auto px-4 py-4">
  <!-- Featured Articles -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Featured Posts of the Past Week</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
      <% homeData.featured.forEach(article => { %>
      <a href="/post/<%= article._id %>" class="block">
        <article
          class="bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <img
            alt="<%= article.title %>"
            class="mb-4 h-48 w-full object-cover"
            src="<%= article.thumbnail.small %>"
          />
          <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
          <p class="mb-2 text-gray-600">
            Category: <%= article.category.name %>
          </p>
          <p class="mb-2 text-gray-600">
            Published on: <%= article.publishedDate %>
          </p>
        </article>
      </a>
      <% }) %>
    </div>
  </section>

  <!-- Most Viewed Articles -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Most Viewed Articles</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
      <% homeData.mostViewed.forEach(article => { %>
      <a href="/post/<%= article._id %>" class="block">
        <article
          class="bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <img
            alt="<%= article.title %>"
            class="mb-4 h-48 w-full object-cover"
            src="<%= article.thumbnail.small %>"
          />
          <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
          <p class="mb-2 text-gray-600">
            Category: <%= article.category.name %>
          </p>
          <p class="mb-2 text-gray-600">
            Published on: <%= article.publishedDate.toLocaleDateString("en-US") %>
          </p>
        </article>
      </a>
      <% }) %>
    </div>
  </section>

  <!-- Latest Articles -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Latest Posts</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
      <% homeData.latest.forEach(article => { %>
      <a href="/post/<%= article._id %>" class="block">
        <article
          class="bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <img
            alt="<%= article.name %>"
            class="mb-4 h-48 w-full object-cover"
            src="<%= article.thumbnail.small %>"
          />
          <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
          <p class="mb-2 text-gray-600">
            Category: <%= article.category.name %>
          </p>
          <p class="mb-2 text-gray-600">
            Published on: <%= article.publishedDate.toLocaleDateString("en-US") %>
          </p>
        </article>
      </a>
      <% }) %>
    </div>
  </section>

  <!-- Top 10 Categories -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Top 10 Categories</h2>
    <div
      class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
    >
      <% homeData.latestEach.forEach(category => { %>
      <a href="/<%= category.slug %>" class="block">
        <article
          class="bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <h3 class="mb-4 text-xl font-semibold"><%= category.category %></h3>
          <div class="flex items-center gap-4">
            <img
              alt="Category thumbnail"
              class="h-24 w-24 rounded-lg object-cover"
              src="<%= category.post.thumbnail.small %>"
            />
            <div>
              <h4 class="text-lg font-medium"><%= category.post.name %></h4>
              <p class="text-gray-600">
                Published on: <%= category.post.publishedDate.toLocaleDateString("en-US") %>
              </p>
            </div>
          </div>
        </article>
      </a>
      <% }) %>
    </div>
  </section>
</div>
