<div class="mx-4 border border-blue-500"></div>
<div class="container mx-auto bg-gray-100 px-4 py-4">
  <!-- Featured Articles -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Featured Posts of the Past Week</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
      <% homeData.featured.forEach(article=> { %>
      <a href="/post/<%= article.slug %>" class="block">
        <article
          class="flex flex-col justify-between bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <!-- Article Image -->
          <div class="relative mb-4">
            <img
              src="<%= article.thumbnail.small %>"
              alt="Article Image"
              class="h-48 w-full object-cover"
            />

            <!-- Article Type Tag -->
            <div class="absolute right-2 top-2">
              <% if (article.premium) { %>
              <span
                class="rounded-full bg-gradient-to-r from-purple-600 to-blue-600 px-3 py-1 text-sm font-semibold text-white shadow-md"
              >
                Premium
              </span>
              <% } else { %>
              <span
                class="rounded-full border border-black bg-black px-3 py-1 text-sm font-semibold text-white"
              >
                Standard
              </span>
              <% } %>
            </div>
          </div>

          <!-- Article Content -->
          <div>
            <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
            <p class="mb-2 text-gray-600">
              Category: <%= article.category.name %>
            </p>
            <p class="mb-2 text-gray-600">
              Posted Date: <%= article.publishedDate.toLocaleDateString("vi-VN")
              %>
            </p>
          </div>
        </article>
      </a>
      <% }) %>
    </div>
  </section>

  <!-- Most Viewed Articles -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Most Viewed Articles</h2>
    <div
      class="grid auto-rows-fr grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4"
    >
      <% homeData.mostViewed.forEach(article=> { %>
      <a href="/post/<%= article.slug %>" class="block">
        <article
          class="flex flex-col justify-between bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <!-- Article Image -->
          <div class="relative mb-4">
            <img
              src="<%= article.thumbnail.small %>"
              alt="Article Image"
              class="h-48 w-full object-cover"
            />

            <!-- Article Type Tag -->
            <div class="absolute right-2 top-2">
              <% if (article.premium) { %>
              <span
                class="rounded-full bg-gradient-to-r from-purple-600 to-blue-600 px-3 py-1 text-sm font-semibold text-white shadow-md"
              >
                Premium
              </span>
              <% } else { %>
              <span
                class="rounded-full border border-black bg-black px-3 py-1 text-sm font-semibold text-white"
              >
                Standard
              </span>
              <% } %>
            </div>
          </div>

          <!-- Article Content -->
          <div>
            <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
            <p class="mb-2 text-gray-600">
              Category: <%= article.category.name %>
            </p>
            <p class="mb-2 text-gray-600">
              Posted Date: <%= article.publishedDate.toLocaleDateString("vi-VN")
              %>
            </p>
          </div>

          <div class="flex w-full">
            <h5 class="text-right text-sm font-semibold">
              <%= article.views %> view<%= article.views == 1 ? "" : "s" %>
            </h5>
          </div>
        </article>
      </a>
      <% }) %>
    </div>
  </section>

  <!-- Latest Articles -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Latest Posts</h2>
    <div
      class="grid auto-rows-fr grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4"
    >
      <% homeData.latest.forEach(article=> { %>
      <a href="/post/<%= article.slug %>" class="block">
        <article
          class="flex flex-col justify-between bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <!-- Article Image -->
          <div class="relative mb-4">
            <img
              src="<%= article.thumbnail.small %>"
              alt="Article Image"
              class="h-48 w-full object-cover"
            />

            <!-- Article Type Tag -->
            <div class="absolute right-2 top-2">
              <% if (article.premium) { %>
              <span
                class="rounded-full bg-gradient-to-r from-purple-600 to-blue-600 px-3 py-1 text-sm font-semibold text-white shadow-md"
              >
                Premium
              </span>
              <% } else { %>
              <span
                class="rounded-full border border-black bg-black px-3 py-1 text-sm font-semibold text-white"
              >
                Standard
              </span>
              <% } %>
            </div>
          </div>

          <!-- Article Content -->
          <div>
            <h3 class="mb-2 text-xl font-semibold"><%= article.name %></h3>
            <p class="mb-2 text-gray-600">
              Category: <%= article.category.name %>
            </p>
            <p class="mb-2 text-gray-600">
              Posted Date: <%= article.publishedDate.toLocaleDateString("vi-VN")
              %>
            </p>
          </div>
        </article>
      </a>
      <% }) %>
    </div>
  </section>

  <!-- Top 10 Categories -->
  <section class="mb-8">
    <h2 class="mb-4 text-3xl font-bold">Top 10 Categories</h2>
    <div
      class="grid auto-rows-fr grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
    >
      <% homeData.latestEach.forEach(category=> { %>
      <a href="/post/<%= category.post.slug %>" class="block">
        <article
          class="flex flex-col justify-between bg-white p-4 shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg"
        >
          <div class="relative">
            <div class="absolute right-2 top-2">
              <% if (category.post.premium) { %>
              <span
                class="rounded-full bg-gradient-to-r from-purple-600 to-blue-600 px-3 py-1 text-sm font-semibold text-white shadow-md"
              >
                Premium
              </span>
              <% } else { %>
              <span
                class="rounded-full border border-black bg-black px-3 py-1 text-sm font-semibold text-white"
              >
                Standard
              </span>
              <% } %>
            </div>
          </div>

          <h3 class="mb-4 text-xl font-semibold"><%= category.category %></h3>
          <div class="flex items-center gap-4">
            <img
              alt="Category thumbnail"
              class="h-24 w-24 rounded-lg object-cover"
              src="<%= category.post.thumbnail.small %>"
            />
            <div>
              <h4 class="text-lg font-medium"><%= category.post.name %></h4>
              <p class="text-gray-600">
                Posted Date: <%=
                category.post.publishedDate.toLocaleDateString("vi-VN") %>
              </p>
            </div>
          </div>
        </article>
      </a>
      <% }) %>
    </div>
  </section>
</div>
